*{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    padding:12px;
}

.button-container{
    display: flex;
    justify-content: center;
}

button{
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    padding:15px;
    border-style: none;
    border-bottom-style: solid;
    margin:5px;
}




button:hover{
   background-color: purple;
  
  
}

h2{
    text-align: center;
    font-size: 30px;
}

.example-full-width{
    width:100%;
}