/* You can add global styles to this file, and also import other style files */
*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#264073;
    font-size: 2.5rem;
}

h2,h3{
    color:#444;
    font-weight: lighter;
}

h3{
    font-size:1.3rem;
}
body {
     padding: 5rem;
     max-width: 1000px;
     margin:auto i !important;

}

@media(min-width:600px){
    body{
        padding:2rem;
    }
}
