<h2>My Heroes</h2>

<div class="search-results" infiniteScroll (scrolled)="onScrollDown()">
<ul class="heroes">

<li *ngFor="let hero of heroes">

<a routerLink="/detail/{{hero.id}}">
<img src='{{ hero.imageUrl }}' alt="heroes image" width="60px" height="60px">
<span class="badge"> {{hero.name}} 
    <br><br>
    {{hero.description}}
</span>

<button class="delete" title="delete hero"
(click)="delete(hero)">x</button>
</a>



</li>

</ul>

</div>

<button class="add" mat-fab color='acent' arial-label="Add new hero" color=accent [routerLink]="['/new']">
<mat-icon>add</mat-icon>
</button>

   
  