/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap ;
    
    
   
  
  }
  .heroes li {
    position: relative;
    cursor: pointer;
  }
  
  .heroes li:hover {
    left: .1em;
  }
  
  .heroes a {
    
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 60px;
   
  }
  
  .heroes a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .heroes a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes .badge {
    
    display: inline-block;
    font-size: small;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    left: -1px;
    height: 1.8em;
    min-width: 16px;
    text-align: left;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    max-width: 100%;

    
}
 
  .add{
    position: fixed;
    float: right;
    margin-left: 90%;
    bottom: 50px;
  }

.delete{
     
    display: block;
    position:relative;
    margin-left: 90%;
    bottom:90%;
    border-style: none;
    font-size: 30px;
    background-color: #EEE;
    cursor:pointer;
    word-break: break-all;
    

   
    
    
    
  }

  
  

  